<%= simple_form_for @room do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Título' %><br>
    <%= f.text_field :title, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'Descripción' %><br>
    <%= f.text_area :description, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'Tipo de hospedaje' %><br>
    <%= f.input :inmueble, collection: ['Casa','Departamento','Habitación Privada', 'Habitación Compartida'], :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'Precio por noche' %><br>
    <%= f.text_field :price, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'Habitaciones disponibles' %><br>
    <%= f.input :rooms_available, collection: 1..6, :class => 'form-control' %>
  </div>
  <h3>Preferencias de huésped:</h3>
  <div class="form-group">
    <%= f.label 'Gays' %><br>
    <%= f.input :gays, as: :boolean, checked_value: true, unchecked_value: false %>
  </div>
  <div class="form-group">
    <%= f.label 'Lesbianas' %><br>
    <%= f.input :lesbianas, as: :boolean, checked_value: true, unchecked_value: false %>
  </div>
  <div class="form-group">
    <%= f.label 'Transexuales' %><br>
    <%= f.input :transexuales, as: :boolean, checked_value: true, unchecked_value: false %>
  </div>
  <div class="form-group">
    <%= f.label 'Bisexuales' %><br>
    <%= f.input :bisexuales, as: :boolean, checked_value: true, unchecked_value: false %>
  </div>
  <div class="form-group">
    <%= f.label 'Tercer género' %><br>
    <%= f.input :tercer_genero, as: :boolean, checked_value: true, unchecked_value: false %>
  </div>
  <div class="form-group">
    <%= f.label 'Queer' %><br>
    <%= f.input :queer, as: :boolean, checked_value: true, unchecked_value: false %>
  </div>
  <div class="form-group">
    <%= f.submit 'Publicar', :class => 'btn btn-success' %>
  </div>
<% end %>
